<%- model_class = Notification -%>
<div class="page-header">
  <h1>Editar Notificação</h1>
</div>
<%= render :partial => 'form' %>
<% if !Rails.env.production? %>
  <hr />
  <%= params.inspect %><hr />
  <%= debug(current_magazine)%> 
<% end %>