<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou alteração da sua senha. Vôce pode fazer isso clicando no link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou isso, por favor ignore esse email.</p>
<p>Sua senha não será alterada a menos que você clique no link para fazê-lo.</p>
